{:deps
 {clj-http {:mvn/version "3.10.0"}
  com.cemerick/url {:mvn/version "0.1.1"}
  datascript {:mvn/version "0.18.5"}
  metosin/jsonista {:mvn/version "0.2.4"}
  org.clojure/core.async {:mvn/version "0.3.442"},}}
